<!DOCTYPE html>
<html lang = "en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../css/pingtu.css"/>
	<title>拼图游戏</title>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/lodash.js"></script>
	<script src="../js/pingtu.js" type="text/javascript"></script>
</head>
<body>
	<div id="container">
		<h1>拼图游戏</h1>
		<div id="pic1" class="notshow"></div>
		<div id="puzzle-pane">
			<div id="1"></div>
			<div id="2"></div>
			<div id="3"></div>
			<div id="4"></div>
			<div id="5"></div>
			<div id="6"></div>
			<div id="7"></div>
			<div id="8"></div>
			<div id="9"></div>
			<div id="10"></div>
			<div id="11"></div>
			<div id="12"></div>
			<div id="13"></div>
			<div id="14"></div>
			<div id="15"></div>
		</div>
		<button id="restart">开始</button>
		<button id="changepic" class="changepic">换图</button>
		<button id="sourcepic" class="changepic">原图</button>
		<button id="resum" class="changepic">复原</button>
		<div id="stepnumber">Step:0</div>
	</div>
</body>
</html>